$main_color01:#4173EA;
$main_color02:#F5F8FD;
$background_color:#FAFAFC;

$black01:rgba(31,31,31,1);
$black02:rgba(31,31,31,0.82);
$black03:rgba(31,31,31,0.48);
$black04:rgba(31,31,31,0.12);

$shadow01:2px 10px 15px -10px rgba(65,115,234,0.4);
